/*******************************************************************/
/***************************FUENTES*********************************/
/*******************************************************************/

@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");


/*******************************************************************/
/*************************ESTILOS GLOBALES**************************/
/*******************************************************************/

body {
    font-family: "Lato", sans-serif;
}


/*******************************************************************/
/*************************SECCION PRINCIPAL*************************/
/*******************************************************************/


#principal {
    min-height: 100vh;
    background:
    linear-gradient(rgba(5, 7, 12, 0.8), rgba(5, 7, 12, 0.3)),
    url(../img/tours.jpg) no-repeat center center fixed;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
}


/*******************************************************************/
/*************************DESCRIPCION*******************************/
/*******************************************************************/

.intro {
    text-align:center;
    color:#F8EFEF;
}

.intro h1 {
   font-weight: lighter;
   font-size: 3rem;
   margin-bottom: 10px;
   letter-spacing: 0.55rem; 
}

.intro p {
    font-size: 0.9rem;
    letter-spacing: 0.25rem;
    line-height: 1.5rem;
    margin-bottom: 30px;
}


.intro a {
    display: inline-block;
    padding: 1.2rem 4.5rem;
    background-color: #F8EFEF;
    color: #4dc3cb;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-decoration: none;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.intro a:hover {
    background-color: transparent;
    border-color: #F8EFEF;
    color:#F8EFEF;
}